.main {
  min-height: 100vh;
  width: 100%;

}

.banner {
  height: 725px;
  width: 100%;
  background-color: blue;
  /* background-image: url("/banner.webp"); */
  /* background-image: urL("https://static.wixstatic.com/media/f13c9c_f063e59bbc6f4cdb96fc6511cd5ac310~mv2.jpg/v1/fill/w_879,h_397,al_c,q_80,enc_auto/20180428_113656_edited_edited.jpg"); */
  background-image: url("https://static.wixstatic.com/media/f13c9c_0e5ebb5d0fca43aea1755bd11b6d4d66~mv2.jpg/v1/fill/w_1063,h_548,fp_0.50_0.50,q_85,enc_auto/f13c9c_0e5ebb5d0fca43aea1755bd11b6d4d66~mv2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 1;
  
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.textOverlay {
  padding-top: 85px;
  z-index: 3;
  text-align: center;
  height: calc(100% - 85px);
  color: white;
  padding: 85px 40px 0px 40px;
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}
.leftSide {
height: 100%;
width: 70%;
}
.rightSide {
  flex: 1.5;
  height: 100%;
}
.mainTitle {
  margin-top: 110px;
    color: white;
    position: relative;
    z-index: 5;
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    width: 800px;
    font-weight: 500;
}
.subTitle {
  margin: unset;
  margin-top: 10px;
  color: #dfdfdf;
  position: relative;
  z-index: 5;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  width: 550px;
  margin-bottom: 20px;
}
.button15 {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

  background-image: linear-gradient(#002247, #163368);
  border: 1px solid #1b2a5d;
border-radius: 4px;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
direction: ltr;
display: block;
font-size: 17px;
font-weight: 400;
letter-spacing: -.022em;
line-height: 1.47059;
min-width: 30px;
overflow: visible;
padding: 9px 28px;text-align: center;
vertical-align: baseline;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
transition:  .5s;
font-weight: bold;
}

.button15:disabled {
cursor: default;
opacity: .3;
}

.button15:hover {
background-image: linear-gradient(#51A9EE, #147BCD);
border-color: #1482D0;
text-decoration: none;
transition: .5s;
}

.button15:active {
background-image: linear-gradient(#3D94D9, #0067B9);
border-color: #006DBC;
outline: none;
}

.button15:focus {
box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
outline: none;
transition: .5s;

}
.button15 a {
  margin: unset;
  color: white;
}
.ctaContainer {
  display: flex;
  justify-content: flex-start;
}
.ctaContainer,
.ctaContainer button {
  z-index: 10;
  position: relative;
  margin-top: 25px;
}
.ctaContainer button:nth-child(1) {
  border-radius: 20px 0 0 0;
}
.ctaContainer button:nth-child(2) {
  background-image: linear-gradient(#39699f, #163368);
    border: 1px solid #12365e;
    transform: translateX(-1px);
}
.ctaContainer button:nth-child(2) a {
  color: #a2b3e2 !important;

}
.reviews {
  position: absolute;
    right: 81px;
    bottom: 190px;
}
.trial {
  padding: 5px 25px;
  background-color: #030303;
  color: #d5d5d5;
  font-weight: lighter;
  text-transform: uppercase;
  border: .5px solid #141414;
  border-radius: 20px 0 0 0;
  margin-left: 50px;
}